.table{
    background: rgb(92, 219, 149);
    color: #000000;
    padding: 7px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    flex: 0 0 auto;
}
table{
    font-size: 150%;
    width: 100%;
    text-align: center;
}
table tr :nth-child(2){
    word-break: break-all;
}
table tr :first-child{
    word-break: break-all;
}